.container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.column {
    flex-basis: 20%;
    box-sizing: border-box;
    padding: 8px;
}

.box {
    height: 144px;
    background-color: rgb(70, 70, 235);
    background-image: url(../img/placeholder-image.png);
}

@media screen and (max-width: 1024px) {
    .column {
    flex-basis: 33.33%;
    }
}

@media screen and (max-width: 768px) {
    .column {
    flex-basis: 50%;
    }
}

@media screen and (max-width: 414px) {
    .column {
    flex-basis: 100%;
    }
}